.selectable-wrapper {
    cursor: pointer;
    position: relative;
}

.selectable-wrapper.select-options-shown:hover {

}

.selectable-dropdown-chevron {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    cursor: pointer;
}

.selectable-title {
    color: #cfcfcf;
    float: left;
    margin-left: 5px;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
}

.selectable-options-wrapper {
    border: 1px solid #cfcfcf;
    padding: 5px;
    display: none;
    z-index: 10000;
    position: absolute;
    background-color: #fff;
    max-height: 250px;
    overflow-y: scroll;
}

.selectable-options-wrapper > input {
    margin-bottom: 2px;
    position:sticky;
    top: 0;
}

.selectable-option {
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 2px;
}

.selectable-option:hover {
    background: #cfcfcf;
}

.selectable-option-selected {
}

.selectable {
    height: 30px !important; /* important needs to be set to ignore browser multiple */
    min-width: 150px;
}

.selected-check-right {
    float: right;
}